@{
    ViewData["Title"] = "Confidants";
}

<!-- Portfolio Start -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="title text-center col-sm-12">
                <h2>Confidants</h2>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-gallery">
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">                        
                        <img class="img-responsive" src="~/images/Head/small/akria_small.png" alt="Image1">
                        <a href="assets/images/portfolio/large/1.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus" title="Akira Kurusu"></i>Akira Kurusu
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/ann_small.png" alt="Image2">
                        <a href="assets/images/portfolio/large/2.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>Ann Takamaki
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/chihaya_small2.png" alt="Image3">
                        <a href="assets/images/portfolio/large/3.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>Chihaya Mifune
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/futaba_small2.png" alt="Image4">
                        <a href="assets/images/portfolio/large/4.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>Futaba Sakura
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/goro_small2.png" alt="Image5">
                        <a href="assets/images/portfolio/large/5.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>Goro Akechi
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/haru_small.png" alt="Image6">
                        <a href="assets/images/portfolio/large/6.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>Haru Okumura
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/hifumi_small2.png" alt="Image7">
                        <a href="assets/images/portfolio/large/7.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>Hifumi Togo
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/ichiko_small2.png" alt="Image8">
                        <a href="assets/images/portfolio/large/8.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/igor_small.png" alt="Image9">
                        <a href="assets/images/portfolio/large/9.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/makoto_small.png" alt="Image10">
                        <a href="assets/images/portfolio/large/10.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/morg_small.png" alt="Image11">
                        <a href="assets/images/portfolio/large/11.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/munehisa_small2.png" alt="Image12">
                        <a href="assets/images/portfolio/large/12.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/ryuji_small.png" alt="Image13">
                        <a href="assets/images/portfolio/large/13.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/sadayo_small2.png" alt="Image14">
                        <a href="assets/images/portfolio/large/14.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/sae_small.png" alt="Image15">
                        <a href="assets/images/portfolio/large/15.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/shinya_small2.png" alt="Image16">
                        <a href="assets/images/portfolio/large/16.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/sojiro_small2.png" alt="Image16">
                        <a href="assets/images/portfolio/large/16.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/tae_small2.png" alt="Image16">
                        <a href="assets/images/portfolio/large/16.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/toranosuke_small2.png" alt="Image16">
                        <a href="assets/images/portfolio/large/16.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/twins_small.png" alt="Image16">
                        <a href="assets/images/portfolio/large/16.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="~/images/Head/small/yuki_small.png" alt="Image16">
                        <a href="~/images/Body/large/yusuke_large.png" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio End -->
