@{
    ViewData["Title"] = "Mementos";
}

<!-- Portfolio Start -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="title text-center col-sm-12">
                <h2>Mementos</h2>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-gallery">
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="assets/images/portfolio/small/1.jpg" alt="Image1">
                        <a href="assets/images/portfolio/large/1.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="assets/images/portfolio/small/2.jpg" alt="Image2">
                        <a href="assets/images/portfolio/large/2.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="assets/images/portfolio/small/3.jpg" alt="Image3">
                        <a href="assets/images/portfolio/large/3.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="assets/images/portfolio/small/4.jpg" alt="Image4">
                        <a href="assets/images/portfolio/large/4.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="assets/images/portfolio/small/5.jpg" alt="Image5">
                        <a href="assets/images/portfolio/large/5.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="assets/images/portfolio/small/6.jpg" alt="Image6">
                        <a href="assets/images/portfolio/large/6.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="assets/images/portfolio/small/7.jpg" alt="Image7">
                        <a href="assets/images/portfolio/large/7.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="assets/images/portfolio/small/8.jpg" alt="Image8">
                        <a href="assets/images/portfolio/large/8.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="assets/images/portfolio/small/9.jpg" alt="Image9">
                        <a href="assets/images/portfolio/large/9.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="assets/images/portfolio/small/10.jpg" alt="Image10">
                        <a href="assets/images/portfolio/large/10.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="assets/images/portfolio/small/11.jpg" alt="Image11">
                        <a href="assets/images/portfolio/large/11.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="assets/images/portfolio/small/12.jpg" alt="Image12">
                        <a href="assets/images/portfolio/large/12.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="assets/images/portfolio/small/13.jpg" alt="Image13">
                        <a href="assets/images/portfolio/large/13.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="assets/images/portfolio/small/14.jpg" alt="Image14">
                        <a href="assets/images/portfolio/large/14.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="assets/images/portfolio/small/15.jpg" alt="Image15">
                        <a href="assets/images/portfolio/large/15.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-gallery-item">
                        <img class="img-responsive" src="assets/images/portfolio/small/16.jpg" alt="Image16">
                        <a href="assets/images/portfolio/large/16.jpg" rel="prettyPhoto[gallery]">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio End -->
